name: Cron Job
on:
  schedule:
    - cron: '0/10 * * * *'
  push:
    branches:
      - master
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: download from master-branch.yml
        id: download_1
        uses: dawidd6/action-download-artifact@0bd50d53a6d7fb5cb921e607957e9cc12b4ce392 # v12
        continue-on-error: true
        with:
          workflow: master-branch.yml
          name: main
      - name: download from cronjob.yml
        id: download_2
        uses: dawidd6/action-download-artifact@0bd50d53a6d7fb5cb921e607957e9cc12b4ce392 # v12
        if: steps.download_1.outcome == 'failure'
        continue-on-error: true
        with:
          workflow: cronjob.yml
          name: main
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: steps.download_2.outcome == 'failure'
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        if: steps.download_2.outcome == 'failure'
        with:
          go-version-file: 'main/go.mod'
      - name: build
        run: go build
        if: steps.download_2.outcome == 'failure'
        working-directory: ./main
      - name: mv
        if: steps.download_2.outcome == 'failure'
        run: mv main/main ./main2 && rm -r main && mv main2 main
      - name: chmod +x
        run: chmod +x main
      - name: run
        run: ./main
        env:
          SLACK_WEBHOOK_URL_5MIN: ${{ secrets.slack_webhook_url_5min }}
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: steps.download_2.outcome == 'failure'
        with:
          name: main
          path: main
