on:
  pull_request:
jobs:
  diff-pr-management:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: 'main/go.mod'
      - uses: dev-hato/actions-diff-pr-management@1e2c650446e6a6aab1858d55c8b693470ea5f2fe # v2.2.2
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          repo-name: ${{ github.event.pull_request.head.repo.full_name }}
          branch-name-prefix: fix
          pr-title-prefix: fix
          pr-description-prefix: ""
